Makefile
Makefile.in
.deps/
.libs/
config.guess
config.log
config.status
config.sub
configure
aclocal.m4
autom4te.cache/
depcomp
install-sh
*.la
*.lo
*.o
libtool
ltmain.sh
missing
src/libgcm.pc
src/.dirstamp
